@import "../../index.css";

.vertical-line {
  @apply border-r-2 h-screen;
  @apply border-[#87A329]/75 dark:border-gray-900/25;
}

.box-content-class {
  @apply fixed z-30 w-screen h-screen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-content-class h2 {
  @apply text-[92px] tracking-tighter font-black text-left;
  @apply w-210 absolute top-20;
  display: inline-flex;
}
